
<div id="editProfile">
     <form name="editProfileForm" novalidate>
         <legend>Edit Profile</legend>
         <img class="profilePicture" ng-src="{{User.profile.profilePicture}}"/>
         <h3 ng-bind="User.profile.username"></h3>

         <div class="formComponent">
             <label>Full Name</label>
             <input type="text"
                    name="name"
                    ng-model="Input.full_name"
                    />
         </div>

         <div class="formComponent">
             <label>Description</label>
             <input type="text"
                    name="description"
                    ng-model="Input.description"
                    />
         </div>

         <div class="formComponent">
             <select ng-model="Input.gender" ng-options="gender as gender for gender in genders">
                 <option value="">-- Gender --</option>
             </select>
         </div>

         <div class="formComponent">
             <label>Location</label>
             <input type="text"
                    name="location"
                    ng-model="Input.location"
                    />
         </div>

         <div class="formComponent">
             <label>Website</label>
             <input type="text"
                    name=""
                    ng-model="Input.website"
                    />
         </div>

         <div class="formComponent">
             <label>Email</label>
             <input type="email"
                    name="email"
                    ng-model="Input.email"
                    required/>
         </div>

         <div class="formComponent">
             <label>Phone Number</label>
             <input type="text"
                    name="phoneNumber"
                    ng-model="Input.phone_number"
                    />
         </div>

         <!-- TODO: Fix this shit.... -->
         <br />
         <button class="mainBtn" ng-click="submit(input)">Update</button>
         <br />
         <button class="mainBtn" ng-click="UserModel.requestPasswordReset(User.profile.email)">Reset Password</button>

     </form>



</div>


