
<div id="editProfile">
     <form>
         <legend>Edit Profile</legend>
         <img class="profilePicture" ng-src="{{User.profile.profilePicture}}" />

         <div class="formComponent">
             <input type="text" name="" ng-model="" />
         </div>

         <div class="formComponent">
             <input type="text" name="" ng-model="" />
         </div>

         <div class="formComponent">
             <input type="text" name="" ng-model="" />
         </div>

         <div class="formComponent">
             <input type="text" name="" ng-model="" />
         </div>

         <div class="formComponent">
             <input type="text" name="" ng-model="" />
         </div>

         <div class="formComponent">
             <input type="text" name="" ng-model="" />
         </div>

         <div class="formComponent">
             <input type="text" name="" ng-model="" />
         </div>

         <div class="formComponent">
             <input type="text" name="" ng-model="" />
         </div>
     </form>
</div>


