<div ng-repeat="videoCell in FeedManager.videoCells">

  <!-- videoCell -->
  <div video-cell class="videoCell">
    <!-- videoPlayer -->
    <div class="videoPlayer">
      <span class="videoLocation"></span>
      <img class="still" ng-src="{{videoCell.video.media.still}}" />
      <div class="jwplayer"></div>
    </div>
    <!-- end videoPlayer -->

    <!-- videoMetaData -->
    <div class="videoMetaData">

      <div class="timeAgo" ng-bind="videoCell.video.timeAgo"></div>

      <!-- creator -->
      <div class="creator">
        <img class="profilePicture" ng-src="{{videoCell.video.creator.profilePicture}}" height="70px" width="70px"/>
        <div class="displayName" ng-bind="videoCell.video.creator.displayName"></div>
        <div class="altName" ng-bind="videoCell.video.creator.altName"></div>
        <div class="title" ng-bind="videoCell.video.creator.title"></div>
      </div>
      <!-- end creator -->

      <!-- counts -->
      <div class="counts">
        <label class="repliesLabel">Replies: </label>
        <div class="replies" ng-bind="videoCell.video.counts.replies"></div>
        <label class="likesLabel">Likes: </label>
        <div class="likes" ng-bind="videoCell.video.counts.likes"></div>
        <label class="commentsLabel">Comments: </label>
        <div class="comments" ng-bind="videoCell.video.counts.comments"></div>
      </div>
      <!-- end counts -->

      <!-- commentsPreview -->
      <div class="commentsPreview">
        <div ng-repeat="comment in videoCell.comments">
          <img class="commentProfilePicture" ng-src="{{comment.sourceUser.profilePicture.url}}" />
          <div class="sourceUser" ng-bind="comment.sourceUser.username"></div>
          <div class="commentBody" ng-bind="comment.body"></div>
        </div>
        <input class="commentInput" type="text" />
        <button class="mainBtn">Add Comment</button>
      </div>
      <!-- end commentsPreview -->

    </div>
    <!-- end videoMetaData -->
  </div>
  <!-- end videoCell -->

</div>
