<nav>

    <div class="navbarWrapper">
        <div ui-sref="splash" class="logo">
            <img src="assets/img/logo-small.png" />
        </div>

        <div class="search">
            <input register-element="searchElem" ng-model="Navbar.search.query" ng-click="enableDropdown()" type="text" />
            <div class="dropdown" register-element="dropdownElem" ng-show="Navbar.search.dropdownEnabled">
                <div class="userResult" ng-repeat="user in Navbar.search.results.users">
                    <a href="{{'/' + user.username}}">
                        <img ng-src="{{user.profilePicture}}"/>
                        <span class="displayName" ng-bind="user.displayName"></span>
                        <span class="altName" ng-bind="user.altName"></span>
                    </a>
                </div>
                <div class="divider"></div>
                <div class="videoResult" ng-repeat="video in Navbar.search.results.videos">
                    <span class="altName" ng-bind="video.creator.altName"></span>
                    <span ng-bind="video.title">@justin check this out.</span>
                </div>
            </div>
        </div>

        <div class="links">
            <ul>
                <li ui-sref="discover.default">Discover</li>
                <li ui-sref="home.default">Home</li>
                <li ui-sref="blog">Blog</li>
            </ul>
        </div>


        <div class="hub">
            <span ui-sref="account.login" ng-hide="Navbar.mode.loggedIn">Log In</span>
            <span ng-bind="Navbar.hub.username" ng-show="Navbar.mode.loggedIn" ng-click="SessionModel.logout()"></span>
            <img ng-src="{{Navbar.hub.profilePicture}}" ng-show="Navbar.mode.loggedIn"/>
        </div>

    </div>

</nav>

