
<div id="register">

    <form name="form" ng-hide="accountSuccessfullyRegistered" novalidate>

        <h2>Create A New Account</h2>

        <div class="formComponent">
            <input type="text"
                   name="username"
                   ng-model="input.username"
                   ng-maxlength=20
                   placeholder="Username"
                   required/>
        </div>

        <div class="formComponent">
            <input type="password"
                   name="password"
                   ng-model="input.password"
                   placeholder="Password"
                   required/>
        </div>


        <div class="formComponent">
            <input type="password"
                   name="confirmPassword"
                   ng-model="input.confirmPassword"
                   placeholder="Confirm Password"
                   match-passwords
                   />
        </div>

        <div class="formComponent">
            <input type="email"
                   name="email"
                   ng-model="input.email"
                   ng-change="validate(form.email)"
                   placeholder="Email Address"
                   required/>
        </div>

        <div ng-repeat="(id, message) in messages" p-message="message"></div>

        <button class="mainBtn" ng-click="UserModel.registerNewAccount(input, feedback)">Create</button>

    </form>

</div>
