
<div id="register">

    <form name="form" ng-hide="accountRegistered" novalidate>

        <h2>Create A New Account</h2>

        <div class="formComponent">

            <input type="text"
                   name="fullName"
                   ng-model="input.full_name"
                   ng-maxlength=40
                   placeholder="Full Name"
                   />

            <input type="text"
                   name="username"
                   ng-model="input.username"
                   ng-maxlength=20
                   placeholder="Username"
                   required/>
        </div>

        <div class="formComponent">
            <input type="password"
                   name="password"
                   ng-model="input.password"
                   placeholder="Password"
                   required/>
        </div>


        <div class="formComponent">
            <input type="password"
                   name="confirmPassword"
                   ng-model="input.confirmPassword"
                   placeholder="Confirm Password"
                   match-passwords
                   />
        </div>

        <div class="formComponent">
            <input type="email"
                   name="email"
                   ng-model="input.email"
                   ng-change="validate(form.email)"
                   placeholder="Email Address"
                   required/>
        </div>

        <button class="primary"
                ng-click="invoke(UserModel, 'registerNewAccount', {input: input, messages: messages})">
                Create
        </button>

    </form>

    <div class="messages">
        <div ng-repeat="(id, message) in messages" p-message="message"></div>
    </div>

</div>
