<div id="requestPasswordReset">
    <form name="form">
        <legend>Request Password Reset</legend>
        <input type="email"
               name="email"
               placeholder="example@domain.com"
               ng-model="input.username"
               required>
        <button class="primary"
                ng-click="invoke(UserModel, 'requestPasswordReset', {input: input, messages: messages})">
                Send
        </button>
    </form>
    <div class="messages" ng-repeat="(id, message) in messages" p-message="message"></div>
</div>