<div id="resetPassword">

    <form name="registerForm" novalidate>

        <h2>Reset Password</h2>

        <div class="formComponent">
            <input type="password"
                   name="password"
                   ng-model="input.password"
                   placeholder="Password"
                   required/>
            <div class="error" ng-show="registerForm.password.$dirty && registerForm.password.$invalid">
                <small class="error"
                       ng-show="registerForm.password.$error"
                       ng-bind="feedback.error.invalidPassword">
                </small>
            </div>
        </div>


        <div class="formComponent">

            <input type="password"
                   name="confirmPassword"
                   ng-model="input.confirmPassword"
                   placeholder="Confirm password"
                   match-passwords
                   required/>
            <div class="error" ng-show="registerForm.password.$dirty && registerForm.password.$invalid">
                <small class="error"
                       ng-show="registerForm.password.$error"
                       ng-bind="feedback.error.invalidPassword">
                </small>
            </div>
        </div>

        <div ng-repeat="(id, message) in messages" p-message="message"></div>

        <button class="primary" ng-click="UserModel.resetAccountPassword(input, messages)">Reset Password</button>

    </form>

</div>
