<!DOCTYPE html>
<html class="fullscreen">
<head>
    <meta charset="utf-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Present</title>
    <link href="../css/main.css" type="text/css" rel="stylesheet" media="screen"/>
</head>
<body ng-controller="mainCtrl" class="fullscreen">

    <div class="loadingContainer a-slide" ng-show="!app.isReady">
        <div class="loading">
            <img src="/assets/img/loader-white.gif" />
        </div>
    </div>

    <div ng-controller="downloadModalCtrl" id="downloadModal" class="a-slide" ng-show="app.downloadModal">
      <div class="content">
          <div class="appStore">
            <p>Available for the iPhone.</p>
            <img src="/assets/img/app-store-badge.svg" alt="Apple App Store -- Present"/>
          </div>
          <div class="textToDownload">
            <p>enter your mobile number and we'll text you the link!</p>
            <div class="formContainer">
              <input type="text" class="form-textbox" ng-model="phoneNumber"/>
              <button class="submitBtn" ng-click="sendDownloadLink()">Submit</button>
            </div>
          </div>
      </div>
    </div>

    <header id="header" class="fixed a-slide" ng-show="app.navigation">
            <section>
                <div class="logo">
                    <a ui-sref="discover"><img src="../assets/img/logo-small.png" alt="Present" /></a>
                </div>
                <nav>
                  <ul>
                    <li ui-sref="home">Home</li>
                    <li ng-click="showModal()">Download</li>
                  </ul>
                </nav>
            </section>
    </header>

    <div ui-view
         view-container
         id="main"
         class="fullscreen"
         ng-class="app.viewAnimation">
        <!--INJECTED TEMPLATES GO HERE -->
    </div>


    <script src="//jwpsrv.com/library/VLJzhpFREeOBbyIACi0I_Q.js" ></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/js/lib/waypoints/waypoints.min.js"></script>
    <script src="/js/lib/moment/moment.min.js"></script>


    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script src="/js/lib/angular/angular-animate.min.js"></script>
    <script src="/js/lib/ui-router/ui-router.min.js"></script>

    <!-- Production
    <script src="/js/core/dist/present-web-app.min.js"></script> -->

    <script src="/js/core/app.js"></script>
    <script src="/js/core/controllers.js"></script>
    <script src="/js/core/directives.js"></script>
    <script src="/js/core/services.js"></script>

    <script>angular.bootstrap(document, ["PresentWebApp"]);</script>
</body>
</html>
