<!DOCTYPE html>
<html ng-app="PresentWebApp" ng-controller="mainCtrl"  class="fullscreen" >
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="description" content="An app that allows you to share the live video -- anytime, anywhere"/>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Present -- Share the Present</title>
    <link href="../css/main.css" type="text/css" rel="stylesheet" media="screen"/>
</head>
<body  class="fullscreen">

    <!-- [if lte IE 9] >
    <style>
        #main {display: none;}
        .loadingContainer {display: none!important;}
        .unsupported { text-align: center; width: 500px; margin: 80px auto; }
        .unsupported img { margin-bottom: 20px; width: 100px}
        .unsupported a { color: blue;}
    </style>
    <div class="unsupported">
      <img src="/assets/img/app-icon.png" />
      <h2><b>Your browser is out-of-date. Go <a href="http://browsehappy.com/" target="">here</a> to download one of these up-to-date, free and excellent browsers.</b></h2>
    </div>
    <[end if -->


    <div class="loadingContainer a-slide" ng-show="!app.isReady">
        <div class="loading">
            <img src="/assets/img/loader-white.gif" />
        </div>
    </div>

    <div ng-controller="downloadModalCtrl" id="downloadModal" class="a-slide" ng-show="app.downloadModal" ng-cloak>
      <div class="content">
          <div class="appStore">
            <p>Available for the iPhone</p>
            <a href="https://itunes.apple.com/us/app/present-share-the-present/id813743986?mt=8" target="blank">
              <img src="/assets/img/app-store-badge.svg" alt="Apple App Store -- Present"/>
            </a>
          </div>
          <div class="textToDownload">
            <p>enter your mobile number and we'll text you the link!</p>
            <div class="formContainer">
              <input type="text" class="formTextbox" ng-model="phoneNumber"/>
              <button class="submitBtn" ng-click="sendDownloadLink()">Submit</button>
            </div>
            <p class="feedbackMessage">{{feedbackMessage}}</p>
          </div>
      </div>
    </div>

    <header id="header" class="fixed a-slide" ng-show="app.navigation" ng-cloak>
      <section>
          <div class="logo">
              <a ui-sref="discover"><img src="../assets/img/logo-small.png" alt="Present" /></a>
          </div>
          <nav>
            <ul>
              <li ui-sref="home">Home</li>
              <li ng-click="showModal()">Download</li>
            </ul>
          </nav>
      </section>
    </header>

    <div ui-view
         view-container
         id="viewContainer"
         class="fullscreen"
         ng-class="app.viewAnimation">
        <!--INJECTED TEMPLATES GO HERE -->
    </div>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-41935481-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <script src="//jwpsrv.com/library/VLJzhpFREeOBbyIACi0I_Q.js" ></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/js/lib/waypoints/waypoints.min.js"></script>
    <script src="/js/lib/moment/moment.min.js"></script>


    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script src="/js/lib/angular/angular-animate.min.js"></script>
    <script src="/js/lib/ui-router/ui-router.min.js"></script>


    <script src="/js/core/dist/present-web-app.min.js"></script>

</body>
</html>
