<div id="home">
    <div class="banner" ng-style="bannerPos">
        <h1 ui-sref="discover">Share The Present</h1>
        <h2>Post live videos anytime, anywhere</h2>
        <div class="btnContainer">
            <div ui-sref="discover" class="discover-btn">check it out</div>
            <div class="download-btn" download-btn>download the app</div>
        </div>
    </div>
</div>

<div id="download">
  <div class="phone">

  </div>
  <div class="copy">
    <h1>Create Live Videos</h1>
    <h2>The power to go live right is right in your pocket</h2>
    <p>Just click on the ‘+’ in the top bar, create an optional title, and then tap to start.
      Presents utilize your phone’s back facing camera to allow your followers to see the world through your eyes. </p>
    <img class="appStore" src="/assets/img/app-store-badge.png" />
  </div>
</div>

<footer>
  <div class="content">
    <div class="footerNav">
        <h4 class=copyright>&copy; PRESENT INC.</h4>
        <a target="blank" href="/assets/html/terms.html">TERMS</a>
        <a target="blank"href="/assets/html/policy/policy.html">PRIVATE POLICY</a>
        <img src="http://cdn.mxpnl.com/site_media/images/partner/badge_light.png" />
    </div>

  </div>
</footer>
