<div id="resetPassword" >
    <div class="resetPasswordForm" ng-show="validRequest">
    <h2>Reset Password</h2>
        <input class="form-textbox form-readonly" type="text" value="username" readonly>
        <input password
               ng-model="userInput.password"
               ng-change="checkPassword()"
               ng-style="matchStyle"
               class="form-textbox"
               type="password"
               placeholder="New Password">
               
        <input password
               ng-model="userInput.confirmation"
               ng-change="checkPassword()"
               ng-style="matchStyle"
               class="form-textbox"
               type="password"
               placeholder="Confirm Password">
        <button ng-click="sendPassword()" class="form-btn">Submit</button>
        <p class="message">{{error.message}}</p>
    </div>
    <h2 ng-show="!validRequest">You shouldn't be here...</h2>
</div>
