<div id="resetPassword" >
    <div class="resetPasswordForm" ng-show="validRequest">
    <img src="/assets/img/app-icon.png" alt="Present" width="100px"/>
    <h2>Reset Password</h2>
        <input class="formTextbox formReadonly" type="text" ng-model="userInput.username" readonly>
        <input password
               ng-model="userInput.password"
               ng-change="checkPassword()"
               ng-style="matchStyle"
               class="formTextbox"
               type="password"
               placeholder="New Password">

        <input password
               ng-model="userInput.confirmation"
               ng-change="checkPassword()"
               ng-style="matchStyle"
               class="formTextbox"
               type="password"
               placeholder="Confirm Password">
        <button ng-click="sendPassword()" class="formBtn">Submit</button>
        <p class="message">{{error.message}}</p>
    </div>
    <h2 ng-show="!validRequest">You shouldn't be here...</h2>
</div>
