.accountInput {
  margin: 10px auto;
}

.accountButton {
  width: 60%;
  margin: 10px 0px 0px 0px;
}


/** LOGIN **/

#login {
  padding: 160px;
  text-align: center;
}

#login {
  input { @extend .accountInput;}
  button { @extend .accountButton;}
}


/** REGISTER **/

#register {
  padding: 120px;
  text-align: center;
}

#register {
  input { @extend .accountInput;}
  button { @extend .accountButton;}
}


/** RESET PASSWORD **/

#resetPassword {
  padding: 120px;
  text-align: center;
}

#resetPassword {
  input { @extend .accountInput;}
  button { @extend .accountButton;}
}


/** EDIT PROFILE **/

#editProfile {
  padding: 160px;
}

#editProfile {

  input { @extend .accountInput;}
  button { @extend .accountButton;}
  select {margin: 10px 0px 20px 8%}
  label {margin: 0px 0px 0px 8%; font-weight: bold}
  h3 {text-align: center;}
  button{display: block; margin: 0px auto;}

  .profilePicture {
    display: block;
    margin: 20px auto;
    height: 100px;
  }

}
