.accountInput {
  margin: 10px auto;
}


/** LOGIN **/

#login {
  padding: 160px;
  text-align: center;
}

#login {
  input { @extend .accountInput;}
}


/** REGISTER **/

#register {
  padding: 100px;
  text-align: center;
}

#register {
  input { @extend .accountInput;}
  .messages {
    width: 400px;
    min-height: 100px;
    margin: 20px auto;
  }
}


/** RESET PASSWORD **/

#resetPassword {
  padding: 120px;
  text-align: center;
}

#resetPassword {
  input { @extend .accountInput;}
}


/** EDIT PROFILE **/

#editProfile {
  padding: 100px 0px 0px 0px;
}


#editProfile {

  legend {margin: 10px 0px;}
  form {
    display: inline-block;
    width: 40%;
    margin: 0px 0px 0px 400px;
  }

  .sidebar {
    position: fixed;
    display: inline-block;
    float: left;
    margin: 0px 0px 0px 50px;
  }

  .reset {
    margin: 10px 0px;
    width: 100%;
  }

  .profile {
    width: 300px;
    height: 150px;
    padding: 10px;
    overflow: auto;
    background: #FFF;
    border: solid 1px #CCC;
    @include _border-radius(4px);
  }

  .profile {
    img {
      float: left;
      height: 120px;
      margin: 0px 10px 10px 0px;
      @include _border-radius(4px);
    }
    label {
      display: block;
      margin: 0px 0px 0px 15px;
      clear: both;
    }
    h2, h3 {
      margin: 2px 0px;
    }
    .altName {
      color: $main-blue;
    }

  }



}
