/*
 * FONTS
 * ================================================
 */
 @font-face { @include createFont('Helvetica Neue', 'assets/fonts/HelveticaNeue-Light.otf', 100, normal);}
 @font-face { @include createFont('Helvetica Neue', 'assets/fonts/HelveticaNeue-Thin.otf', 300, normal);}
 @font-face { @include createFont('Helvetica Neue', 'assets/fonts/HelveticaNeue.otf', 400, normal);}
 @font-face { @include createFont('Helvetica Neue', 'assets/fonts/HelveticaNeue-Medium.otf', 600, normal);}

/*
 * CORE VARIABLE DECLARATIONS
 * ================================================
 */

/* COLORS */
$main-blue:  #33AAFF;
$main-purple: #A566FF;
$alt-purple: #8E73FF;
$main-grey: #47525D;
$light-grey: #ccc;
$white: #FFFFFF;

/*DIMENSIONS*/
$large-width: 960px;
$small-width: 480px;
$headerHeight: 40px;

$video-height: 480px;
$video-width: 480px;


/* TYPOGRAPHY */
$font-primary: 'Helvetica Neue', sans-serif;
$font-secondary: 'Helvetica Neue', sans-serif;

$font-weight-super-light: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$font-size-small: 14px;
$font-size-medium: 20px;
$font-size-large: 46px;


/*Layers*/
$zHeader: 100;
$zContent: -1;
$zFeed: 0;

$zTheTeam: 0;
$zMember: 10;

/* RESPONSIVE BREAKPOINTS*/
$break-large: 960px;
$break-medium: 630px;
$break-small: 500px;


/* COMMON CONVENTIONS */
$center: 0px auto;



/*
 * GLOBAL STYLES
 * ================================================
 */

//Forces a scroll bar to prevent page shifts between views
html {
  overflow-y: scroll;
}

body {
  background-color: #fff;
}

//Controls Angular View Injections
#viewContainer {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.clear {
  clear: both;
}

.fullscreen {
  height: 100%;
}

.loadingContainer {
  width: 100%;
  position: fixed;
  top: 15%;
  z-index: 10;
}

.loading {
  margin: 20px auto;
  height: 60px;
  width: 60px;
}

.loading img {
  height: 100%;
  width: 100%;
}
