
#download {
  height: 760px;
  width: 780px;
  margin: 0px auto;
  padding: 110px 0px 0px 0px;
  @media(max-width: $break-large) {
    padding: 0px;
    height: auto;
    width: 100%;
  }
}

#download {

  .phone {
    height: 654px;
    width: 310px;
    display: inline-block;
    float: left;
    background-image: url(/assets/img/iphone.png);
    @media(max-width: $break-large) {
      display: none;
    }
  }

  .copy {
      display: inline-block;
      margin: 80px 0px 0px 70px;
      width: 400px;
      @media(max-width: $break-large) {
        display: block;
        width: 60%;
        margin: 200px auto 240px auto;
        text-align: center;
      }

      @media(max-width: $break-medium) {
        display: block;
        width: 60%;
        margin: 100px auto;
        text-align: center;
    }

    h1 {
      font-size: 48px;
      font-weight: 100;
      letter-spacing: 2px;
    }

    h2 {
      color: #917EE5
    }

    p {
      line-height: 25px;
    }

    .appStore {
      display: block;
      margin: 40px auto;
    }
  }

}
