

#download {
  background-color: #f7f7f7;
  width: 100%;
}

#download .content{
  height: 800px;
  width: 735px;
  margin: 0px auto;
  padding: 110px 0px 0px 0px;
  @media(max-width: $break-large) {
    padding: 0px;
    height: auto;
    width: 100%;
  }
}

#download {

  .phone {
    height: 516px;
    width: 245px;
    display: inline-block;
    float: left;
    background-image: url(/assets/img/iphone.png);
    @include background-size(cover);
    @media(max-width: $break-large) {
      display: none;
    }
  }

  .phone img {
    width: 204px;
    height: 365px;
    padding: 77px 0px 0px 22px;
  }

  .top {
    width: 260px;
    text-align: center;
    margin: 0 auto;
  }

  .icon {
    height: 80px;
    width: 80px;
    display: inline-block;
    float: left;
    margin: 5px 15px 30px 0px;
    background-image: url(/assets/img/app-icon.png);
    @include background-size(cover);
  }

  .copy {
      display: inline-block;
      margin: 40px 0px 0px 70px;
      width: 420px;
      @media(max-width: $break-large) {
        display: block;
        width: 60%;
        margin: 200px auto 240px auto;
        text-align: center;
      }

      @media(max-width: $break-medium) {
        display: block;
        width: 60%;
        margin: 100px auto;
        text-align: center;
    }

    h1 {
      font-size: 36px;
      margin: 5px 0px 0px 0px;
      font-weight: 100;
      letter-spacing: 2px;
    }

    h2 {
      font-size: 14px;
      margin: 5px 0px 0px 0px;
      color: #917EE5
    }

    p {
      width: 100%;
      text-align: center;
      clear: both;
      line-height: 25px;
    }

    .appStore {
      display: block;
      margin: 40px auto;
    }
  }

  footer{
    color: $main-grey;
    text-align: center;
    height: 80px;
  }

  footer {

    .copyright {
      display: inline-block;
    }

    h4 {
      margin: 10px;
    }

    .footerNav {
      margin: 100px 0px 50px 0px;
      display: inline-block;
    }

    p {
      display: inline-block;
      margin: 0px;
    }

    a {
      color: $main-grey;
      margin: 0px 15px 0px 20px;
    }

    img {
      vertical-align: middle;
      margin: 0px 0px 0px 20px;
    }

  }

}
