

#home {
  background-color: #f7f7f7;
  background-image: url(/assets/img/main-bg.png);
  background-position: right; 
  @include background-size(cover);
  width: 100%;
}

#home .content{
  width: 715px;
  margin: 0px auto;
  padding: 60px 0px 0px 0px;
  @media (max-width: $break-large) {
    padding: 0px;
    height: auto;
    width: 100%;
  }
}

#home {

  .phone {
    height: 516px;
    width: 245px;
    display: inline-block;
    float: left;
    background-image: url(/assets/img/iphone.png);
    @include background-size(cover);
    @media (max-width: $break-large) {
      display: none;
    }
  }

  .phone img {
    width: 204px;
    height: 365px;
    padding: 77px 0px 0px 22px;
  }

  .top {
    width: 460px;
    overflow: auto;
    text-align: left;
  }

  .icon {
    height: 80px;
    width: 80px;
    display: inline-block;
    float: left;
    margin: 5px 15px 30px 0px;
    background-image: url(/assets/img/app-icon.png);
    @include background-size(cover);
  }

  .copy {
      display: inline-block;
      margin: 30px 0px 0px 50px;
      width: 420px ;
      text-align: justify;
      font-weight: 300;
      @media  (max-width: $break-large) {
        display: block;
        width: 60%;
        margin: 200px auto 240px auto;
        text-align: center;
      }

      @media (max-width: $break-medium) {
        display: block;
        width: 60%;
        margin: 100px auto;
        text-align: center;
    }

    h1 {
      font-size: 36px;
      margin: 10px 0px 0px 0px;
      font-weight: 100;
      letter-spacing: 2px;
    }

    h2 {
      font-size: 14px;
      margin: 5px 0px 0px 0px;
      color: #917EE5
    }

    p {
      clear: both;
      line-height: 25px;
    }

    .discoverBtn {
      outline: none;
      height: 40px;
      width: 160px;
      margin: 0px 0px 0px 10px;
      background-color: transparent;
      color: $main-purple;
      border: solid 1px $main-purple;
      @include border-radius(4px);
    }

    .downloadBtn {
      outline: none;
      height: 40px;
      width: 160px;
      background-color: transparent;
      margin: 10px 10px 0px 0px;
      color: $main-blue;
      border: solid 1px $main-blue;
      @include border-radius(4px);
    }

    .downloadBtn:hover {
      background-color: transparentize($main-blue, 0.95);
    }

    .discoverBtn:hover {
      background-color: transparentize($main-purple, 0.95);
    }
  }


  footer{
    color: $light-grey;
    text-align: center;
    font-size: 11px;
    height: 80px;
  }

  footer {

    .copyright {
      display: inline-block;
      margin: 10px;
    }

    .footerNav {
      width: 500px;
      margin: 100px auto 50px auto;
      display: inline-block;
    }

    a {
      color: $light-grey;
      margin: 0px 15px 0px 20px;
    }

    a:hover {
      color: $main-blue;
    }

    img {
      vertical-align: middle;
      margin: 0px 0px 0px 15px;
    }

    .mixpanel {
      height: 20px;
    }

  }

}
