
#home {
  width: 960px;
  margin: 0 auto;
  padding: 100px 0px 20px 0px;
  text-align: center;

  @media (max-width: 960px) {
    width: 100%;
  }
}

#home {

  .feed {
    @extend .defaultFeed
  }

  .profile {
    width: 280px;
    margin: 0px auto 25px auto;
    padding: 20px;
    overflow: auto;
    font-size: 16px;
  }

  .profile {

    .profilePicture {
      margin: 0px auto 10px auto;
      background-color: #FFF;
      border: solid 1px #CCC;
      padding: 1px;
    }

    .fullName {
      font-size: 22px;
      font-weight: bold;
    }

    .counts {
      margin: 10px auto 5px auto;
    }

    .counts span {
      margin: 0px 5px;
    }

  }

  .loadMoreVidoes {
    display: block;
    margin: 0 auto;
  }

}
