

#home {
  width: 100%;
  background-image: url(/assets/img/main-bg.jpg);
  background-position: right;
  @include background-size(cover);
  @media (max-width: $break-large) {
    background-image: none;
  }
}

#home .content{
  width: 715px;
  margin: 0px auto;
  padding: 60px 0px 0px 0px;
  @media (max-width: $break-large) {
    overflow: auto;
    padding: 0px;
    height: auto;
    width: 100%;
  }
}

#home {

  .phone {
    height: 545px;
    width: 245px;
    display: inline-block;
    float: left;
    background-image: url(/assets/img/iphone.png);
    @include background-size(cover);
    @media (max-width: $break-large) {
      display: none;
    }
  }

  .phone img {
    width: 204px;
    height: 365px;
    padding: 78px 0px 0px 22px;
  }

  .top {
    width: 460px;
    overflow: auto;
    text-align: left;
    @media (max-width: $break-large) {
      text-align: center;
      width: 100%;
    }
  }

  .icon {
    height: 80px;
    width: 80px;
    display: inline-block;
    float: left;
    margin: 5px 15px 30px 0px;
    background-image: url(/assets/img/app-icon.png);
    @include background-size(cover);
    @media (max-width: $break-large) {
      float: none;
      display: block;
      margin: 20px auto;
    }
  }

  .copy {
      display: inline-block;
      margin: 30px 0px 0px 50px;
      width: 420px ;
      text-align: justify;
      font-weight: 300;
      @media  (max-width: $break-large) {
        display: block;
        width: 40%;
        margin: 80px auto 0px auto;
        text-align: center;
      }

      @media (max-width: $break-medium) {
        display: block;
        width: 60%;
        margin: 40px auto;
        text-align: center;
    }

    h1 {
      font-size: 36px;
      margin: 10px 0px 0px 0px;
      font-weight: 100;
      letter-spacing: 2px;
    }

    h2 {
      font-size: 14px;
      margin: 5px 0px 0px 0px;
      color: #917EE5
    }

    p {
      clear: both;
      line-height: 25px;
    }

    .discoverBtn {
      @extend .secondaryBtn;
      height: 40px;
      width: 160px;
      margin: 10px 10px 0px 0px;
      @media (max-width: $break-large) {
        display: none;
      }
    }

    .downloadBtn {
      @extend .mainBtn;
      height: 40px;
      width: 160px;
      margin: 10px 10px 0px 0px;

    }
  }


  footer{
    color: $light-grey;
    text-align: center;
    font-size: 11px;
    height: 80px;
  }

  footer {

    .copyright {
      display: inline-block;
      margin: 10px;
    }

    .footerNav {
      width: 500px;
      margin: 100px auto 50px auto;
      display: inline-block;
      @media (max-width: $break-large) {
        width: 100%;
      }
    }

    a {
      color: $light-grey;
      margin: 0px 15px 0px 20px;
    }

    a:hover {
      color: $main-blue;
    }

    img {
      vertical-align: middle;
      margin: 0px 0px 0px 15px;
    }

    .mixpanel {
      height: 20px;
    }

  }

}
