/* main.scss Imports all scss and scss dependencies Compiles into main.css */
/*IMPORTS
==================================*/
@import url(normalize.css);
/* mixins.scss Defines sass mixins */
/* core.scss Sets all sass variables and global styles */
/* Variables ================================== */
/* FONTS ================================================ */
@font-face { font-family: "PresentFT"; src: url("../assets/fonts/HelveticaNeue-UltraLight.otf") format("opentype"); font-weight: 100; font-style: normal; }
@font-face { font-family: "PresentFT"; src: url("../assets/fonts/HelveticaNeue-Light.otf") format("opentype"); font-weight: 300; font-style: normal; }
@font-face { font-family: "PresentFT"; src: url("../assets/fonts/HelveticaNeue.otf") format("opentype"); font-weight: 400; font-style: normal; }
@font-face { font-family: "PresentFT"; src: url("../assets/fonts/HelveticaNeue-Medium.otf") format("opentype"); font-weight: 600; font-style: normal; }
/* Globals
==================================*/
body, html { width: 100%; }

body { font-family: 'PresentFT', sans-serif; font-weight: 400; color: #47525d; font-size: 13px; background-color: #eff1f2; }

div[ui-view] { overflow: auto; }

.defaultFeed, #discover .feed, #home .feed, #user .feed { width: 480px; margin: 0 auto; padding: 20px; background-color: #FFF; border: solid 1px #CCC; }
@media (max-width: 520px) { .defaultFeed, #discover .feed, #home .feed, #user .feed { width: 100%; padding: 0%; } }

/* Typography
=================================== */
h1 { font-weight: 100; font-size: 42px; color: #47525d; }

/* Buttons
=================================== */
button { min-width: 100px; padding: 6px 10px 8px 10px; font-weight: 400; outline: none; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; border-radius: 4px; }

button:hover { opacity: 0.9; }

button.primary { color: #FFF; background-color: #7bd4eb; border: solid 1px #7bd4eb; }

button.secondary { color: #FFF; background-color: #8e73ff; border: solid 1px #8e73ff; }

button.success { color: #FFF; background-color: #a1cf64; border: solid 1px #a1cf64; }

button.error { color: #FFF; background-color: #d95c5c; border: solid 1px #d95c5c; }

/* Forms
=================================*/
form { width: 30%; padding: 10px; margin: 0 auto; background: #FFFFFF; border: solid 1px #CCC; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; border-radius: 5px; }

legend { margin: 5px auto; padding: 0px; font-size: 20px; font-weight: bold; }

label { font-weight: bold; }

input { display: block; width: 80%; padding: 10px; margin: 10px 0px; font-weight: 400; border: solid 1px #eff1f2; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; border-radius: 4px; }

select { display: block; height: 30px; margin: 10px 0px; background-color: #FFF; border: solid 1px #eff1f2; }

input.ng-invalid { border: 1px solid #d95c5c; }

input.ng-pristine { border: solid 1px #eff1f2; }

input:-webkit-autofill { -webkit-box-shadow: 0 0 0px 1000px white inset; }

*:focus { outline: 0; }

.formComponent { margin: 10px 0px; }

/* Messages
======================================== */
.modal { position: absolute; z-index: 999; margin-left: -150px; left: 50%; width: 300px; height: 150px; background-color: #FFF; border-left: solid 3px #47525d; }

.alert { padding: 10px; margin: 5px 0px; }
.alert button { margin: 10px 0px 0px 0px; }

.alert.primary { background-color: white; border-left: solid 3px #7bd4eb; }

.alert.secondary { background-color: white; border-left: solid 3px #8e73ff; }

.alert.success { background-color: white; border-left: solid 3px #a1cf64; }

.alert.error { background-color: white; border-left: solid 3px #d95c5c; }

nav { width: 100%; z-index: 999; position: fixed; height: auto; box-shadow: 0px 1px 3px #CCC; }

nav .navbarWrapper { width: 100%; height: 56px; overflow: auto; font-size: 14px; background-color: #FFFFFF; border-bottom: solid 1px #ccc; }
nav .logo { display: inline-block; float: left; width: 56px; height: 100%; margin: 0px 0px 0px 20px; background-color: #7bd4eb; }
nav .logo img { display: block; width: 60%; margin: 10px auto; }
nav .search { display: inline-block; float: left; width: 25%; height: 100%; }
nav .search input { margin: 8px 12px; width: 90%; color: #7A7A7A; background-color: #f2f3f4; border: solid 1px #eff1f2; -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px; }
nav .dropdown { z-index: 1000; position: absolute; margin: 10px 0px 0px 10px; width: 24%; min-height: 20px; padding: 15px 0px; background-color: #FFF; border: solid 1px #d3d8db; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; border-radius: 4px; }
nav .dropdown::before { content: ''; position: absolute; top: -12px; left: 10px; height: 20px; width: 20px; transform: rotate(45deg); -webkit-transform: rotate(45deg); background-color: #FFF; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; border-radius: 2px; border-left: solid 1px #d3d8db; border-top: solid 1px #d3d8db; }
nav .dropdown .userResult { overflow: auto; padding: 5px 10px 5px 10px; }
nav .dropdown .userResult img { height: 40px; float: left; display: inline-block; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; border-radius: 4px; }
nav .dropdown .userResult span { display: block; margin: 0px 0px 0px 45px; }
nav .dropdown .userResult a { color: #47525d; text-decoration: none; }
nav .dropdown .videoResult { padding: 5px 10px; font-weight: 100; }
nav .dropdown .videoResult span { font-weight: 700; columns: #7bd4eb; }
nav .dropdown .userResult:hover, nav .dropdown .videoResult:hover { background: #eff1f2; }
nav .dropdown .displayName { font-weight: bold; }
nav .dropdown .altName { color: #7bd4eb; }
nav .dropdown .divider { width: 96%; height: 4px; margin: 10px auto 10px auto; border-bottom: solid 1px #eff1f2; }
nav .links { display: inline-block; float: left; width: 40%; padding: 18px 5px; }
nav .links ul { padding: 0px; margin: 0px; }
nav .links li { list-style: none; display: inline-block; margin: 0px 6px; font-weight: bold; }
nav .links li:hover { cursor: pointer; color: #7bd4eb; }
nav .hub { display: inline-block; float: right; width: 12%; padding: 12px 20px 10px 10px; overflow: auto; }
nav .hub img { display: inline-block; float: right; height: 30px; width: 30px; margin: 0px 5px 0px 0px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; border-radius: 4px; }
nav .hub span { display: inline-block; float: right; margin: 6px 5px 0px 5px; font-weight: bold; }
nav .hub span:hover { cursor: pointer; color: #7bd4eb; }

/* videoCell.scss Define all styles for the Video Cells */
/* Set Local Variables */
.videoCell { width: 480px; margin: 0px 0px 40px 0px; text-align: left; }
@media (max-width: 960px) { .videoCell { width: 100%; } }

.videoCell .videoPlayer .still { z-index: 1; width: 100%; }
.videoCell .creator { float: left; width: 300px; margin: 10px 0px 20px 0px; }
.videoCell .displayName { font-weight: bold; font-size: 16px; }
.videoCell .profilePicture { float: left; margin: 0px 10px 0px 0px; }
.videoCell .timeAgo { width: 180px; float: right; margin: 10px 0px 0px 0px; text-align: right; }
.videoCell .counts { clear: both; }
.videoCell .counts div { display: inline-block; margin: 0px 5px 0px 0px; }
.videoCell .commentsPreview { margin: 20px 0px 0px 0px; padding: 10px 0px 0px 0px; border-top: solid 1px #eff1f2; }
.videoCell .commentsPreview .sourceUser { font-weight: bold; color: #7bd4eb; }
.videoCell .commentsPreview .commentProfilePicture { float: left; height: 20px; margin: 0px 5px 0px 0px; }
.videoCell .commentsPreview .commentBody { display: block; clear: both; margin: 10px 0px 20px 0px; }
.videoCell .commentsPreview .addComment { margin: 20px 0px 0px 0px; }

#account { z-index: -1; }

.accountInput, #login input, #register input, #requestPasswordReset input, #resetPassword input { margin: 10px auto; }

/** LOGIN **/
#login { padding: 160px; text-align: center; }

/** REGISTER **/
#register { padding: 100px; text-align: center; }

#register .messages { width: 400px; margin: 20px auto; }

/** REQUEST PASSWORD RESET */
#requestPasswordReset { padding: 120px; text-align: center; }

#requestPasswordReset .messages { width: 400px; margin: 20px auto; }

/** RESET PASSWORD **/
#resetPassword { padding: 120px; text-align: center; }

#resetPassword .messages { width: 400px; margin: 20px auto; }

/** EDIT PROFILE **/
#editProfile { padding: 100px 0px 0px 0px; }

#editProfile legend { margin: 10px 0px; }
#editProfile form { display: inline-block; width: 40%; margin: 0px 0px 0px 400px; }
#editProfile .sidebar { position: fixed; display: inline-block; float: left; width: 320px; margin: 0px 0px 0px 50px; }
#editProfile .reset { margin: 10px 0px; width: 100%; }
#editProfile .profile { width: 300px; height: 150px; padding: 10px; overflow: auto; background: #FFF; border: solid 1px #CCC; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; border-radius: 4px; }
#editProfile .profile img { float: left; height: 120px; margin: 0px 10px 10px 0px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; border-radius: 4px; }
#editProfile .profile label { display: block; margin: 0px 0px 0px 15px; clear: both; }
#editProfile .profile h2, #editProfile .profile h3 { margin: 2px 0px; }
#editProfile .profile .altName { color: #7bd4eb; }

/* splash.scss Styles for splash view */
#splash { width: 100%; height: 100%; }

#splash .content { width: 960px; margin: 0px auto; padding: 60px 0px 0px 0px; text-align: center; }
@media (max-width: 960px) { #splash .content { overflow: auto; height: auto; width: 100%; } }
#splash button { display: block; margin: 10px auto; width: 120px; height: 35px; }

#discover { width: 960px; margin: 0 auto; padding: 80px 0px 20px 0px; text-align: center; }
@media (max-width: 960px) { #discover { width: 100%; } }

#discover .loadMoreVideos { display: block; margin: 0 auto; }

#home { width: 960px; margin: 0 auto; padding: 100px 0px 20px 0px; text-align: center; }
@media (max-width: 960px) { #home { width: 100%; } }

#home .profile { width: 280px; margin: 0px auto 25px auto; padding: 20px; overflow: auto; font-size: 16px; }
#home .profile .profilePicture { margin: 0px auto 10px auto; background-color: #FFF; border: solid 1px #CCC; padding: 1px; }
#home .profile .fullName { font-size: 22px; font-weight: bold; }
#home .profile .counts { margin: 10px auto 5px auto; }
#home .profile .counts span { margin: 0px 5px; }
#home .loadMoreVideos { display: block; margin: 0 auto; }

#user { width: 960px; margin: 0 auto; padding: 100px 0px 20px 0px; text-align: center; }
@media (max-width: 960px) { #user { width: 100%; } }

#user .profile { width: 320px; margin: 0px auto 25px auto; padding: 20px; overflow: auto; font-size: 16px; }
#user .profile .profilePicture { margin: 0px auto 10px auto; background-color: #FFF; border: solid 1px #CCC; padding: 1px; }
#user .profile .fullName { font-size: 22px; font-weight: bold; }
#user .profile .actions button { margin: 20px 5px; }
#user .profile .counts { margin: 10px auto 5px auto; }
#user .profile .count { margin: 5px; }
#user .profile .count label { font-weight: bold; }
#user .profile .description { margin: 10px 0px; }
#user .loadMoreVideos { display: block; margin: 0 auto; }
