/* main.scss Imports all scss and scss dependencies Compiles into main.css */
/*IMPORTS
==================================*/
@import url(normalize.css);
/* mixins.scss Defines sass mixins */
/* core.scss Sets all sass variables and global styles */
/* Variables ================================== */
/* FONTS ================================================ */
@font-face { font-family: "PresentFT"; src: url("../assets/fonts/HelveticaNeue-UltraLight.otf") format("opentype"); font-weight: 100; font-style: normal; }
@font-face { font-family: "PresentFT"; src: url("../assets/fonts/HelveticaNeue-Light.otf") format("opentype"); font-weight: 300; font-style: normal; }
@font-face { font-family: "PresentFT"; src: url("../assets/fonts/HelveticaNeue.otf") format("opentype"); font-weight: 400; font-style: normal; }
@font-face { font-family: "PresentFT"; src: url("../assets/fonts/HelveticaNeue-Medium.otf") format("opentype"); font-weight: 600; font-style: normal; }
/* Globals
==================================*/
body, html { width: 100%; }

body { font-family: 'PresentFT', sans-serif; }

.fullscreen { height: 100%; }

/* Typography
===================================*/
h1 { font-weight: 100; font-size: 42px; color: #47525d; }

/* UI
===================================*/
.mainBtn { outline: none; padding: 12px; padding: 6px 10px 8px 10px; background-color: transparent; font-weight: 300; color: #33aaff; border: solid 1px #33aaff; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; border-radius: 4px; }

.secondaryBtn { outline: none; padding: 6px 10px 8px 10px; background-color: transparent; font-weight: 300; color: #a566ff; border: solid 1px #a566ff; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; border-radius: 4px; }

.mainBtn:hover { background-color: rgba(51, 170, 255, 0.1); }

.secondaryBtn:hover { background-color: rgba(165, 102, 255, 0.1); }

/* Forms
=================================*/
input { display: block; width: 100%; margin-bottom: 5px; }

/* videoCell.scss Define all styles for the Video Cells */
/* Set Local Variables */
.videoCell { width: 480px; margin: 0px 0px 40px 0px; text-align: left; }

.videoCell .videoPlayer .still { z-index: 1; }
.videoCell .creator { float: left; width: 300px; margin: 10px 0px 20px 0px; }
.videoCell .profilePicture { float: left; margin: 0px 10px 0px 0px; }
.videoCell .timeAgo { width: 180px; float: right; margin: 10px 0px 0px 0px; text-align: right; }
.videoCell .counts { clear: both; }
.videoCell .counts div { display: inline-block; margin: 0px 5px 0px 0px; }
.videoCell .commentsPreview { margin: 20px 0px 0px 0px; padding: 15px 0px 0px 0px; border-top: solid 1px #ccc; }
.videoCell .commentsPreview .sourceUser { display: inline-block; }
.videoCell .commentsPreview .commentBody { display: inline-block; }
.videoCell .commentsPreview .addComment { margin: 20px 0px 0px 0px; }

#login { text-align: center; width: 300px; margin: 20px auto 0px auto; }

/* splash.scss Styles for splash view */
#splash { width: 100%; height: 100%; background-image: url(/assets/img/main-bg.jpg); background-position: right; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }

#splash .content { width: 960px; margin: 0px auto; padding: 60px 0px 0px 0px; text-align: center; }
@media (max-width: 960px) { #splash .content { overflow: auto; height: auto; width: 100%; } }

#discover { text-align: center; width: 960px; margin: 0 auto; padding: 0px 0px 20px 0px; }

#discover .feed { width: 480px; margin: 0 auto; }
#discover .loadMoreVideos { display: block; margin: 0 auto; }
