
nav {
  width: 100%;
  z-index: 999;
  position: fixed;
  height: auto;

  box-shadow: 0px 1px 3px #CCC;
}

nav {

  .navbarWrapper {
    width: 100%;
    height: 56px;
    overflow: auto;
    font-size: 14px;
    background-color: #FFFFFF;
    border-bottom: solid 1px #ccc;
  }

  .logo {
    display: inline-block;
    float: left;
    width: 56px;
    height: 100%;
    margin: 0px 0px 0px 20px;
    background-color: $main-blue;
  }

  .logo img {
    display: block;
    width: 60%;
    margin: 10px auto;
  }

  .search {
    display: inline-block;
    float: left;
    width: 25%;
    height: 100%;
  }

  .search {
    input {
      margin: 8px 12px;
      width: 90%;
      color: #7A7A7A;
      background-color: lighten($light-grey, 1);
      border: solid 1px $light-grey;
      @include _border-radius(6px);
    }
  }

  .dropdown {
    z-index: 1000;
    position: absolute;
    margin: 10px 0px 0px 10px;
    width: 24%;
    min-height: 20px;
    padding: 15px 0px;
    background-color: #FFF;
    border: solid 1px darken($light-grey, 10);
    @include _border-radius(4px)
  }

  .dropdown::before {
    content: '';
    position: absolute;
    top: -12px;
    left: 10px;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    background-color: #FFF;
    @include _border-radius(2px);
    border-left: solid 1px darken($light-grey, 10);
    border-top: solid 1px darken($light-grey, 10);
  }

  .dropdown {

    .userResult {
      overflow: auto;
      padding: 5px 10px 5px 10px;

      img {
        height: 40px;
        float: left;
        display: inline-block;
        @include _border-radius(4px);
      }
      span {
        display: block;
        margin: 0px 0px 0px 45px;
      }

      a {
        color: $main-grey;
        text-decoration: none;
      }
    }

    .videoResult {
      padding: 5px 10px;
      font-weight: 100;
    }

    .videoResult span {
      font-weight: 700;
      columns: $main-blue;
    }

    .userResult:hover, .videoResult:hover {
      background: $light-grey;
    }

    .displayName {
      font-weight: bold;
    }
    .altName {
      color: $main-blue;
    }

    .divider {
      width: 96%;
      height: 4px;
      margin: 10px auto 10px auto;
      border-bottom: solid 1px $light-grey;
    }


  }

  .links {
    display: inline-block;
    float: left;
    width: 40%;
    padding: 18px 5px;
  }

  .links {
    ul {
      padding: 0px;
      margin: 0px;
    }
    li {
      list-style: none;
      display: inline-block;
      margin: 0px 6px;
      font-weight: bold;
    }
    li:hover {
      cursor: pointer;
      color: $main-blue
    }
  }

  .hub {
    display: inline-block;
    float: right;
    width: 12%;
    padding: 12px 20px 10px 10px;
    overflow: auto;
  }

  .hub {

    img {
      display: inline-block;
      float: right;
      height: 30px;
      width: 30px;
      margin: 0px 5px 0px 0px;
      @include _border-radius(4px);
    }

    span {
      display: inline-block;
      float: right;
      margin: 6px 5px 0px 5px;
      font-weight: bold;
    }

    span:hover {
      cursor: pointer;
      color: $main-blue;
    }
  }


}
