
/*
 * PRESENTS
 * ================================================
 */


.presentWrapper {

  .videoContainer {
    position: relative;
    z-index: $zFeed;
  }

  .videoContainer img {
    width: 100%;
  }


  .playerPlaceholder {
    position: absolute;
    z-index: 5;
    @media (max-width: $break-small) {
      display: none; 
    }
  }

  .player {
    z-index: 1;
  }

  .livePlayer {
    border-top: solid 3px $main-blue;
  }

  .creator {
    display: inline-block;
    width: 75%;
    float: left;
    margin: 0px 0px 10px 0px;
  }

  .creator {

    .profilePicture{
      float: left;
      height: 60px;
      width: 60px;
      margin: 0px 15px 10px 0px;
      vertical-align: middle;
      @include border-radius(30px);
    }

    .displayName {
      color: $main-blue;
      display: block;
      margin: 0px 0px 0px 0px;
      font-size: $font-size-medium;
      font-weight: bold;
    }

    .username {
      color: $light-grey;
      display: inline;
      margin: 5px 0px 0px 0px;
      font-size: $font-size-small;
      font-weight: 300;
      font-style: normal;
    }
  }

  .info {
    padding: 20px 0px 0px 0px;
    overflow: auto;
  }


  .timeAgo {
    width: 20%;
    float: right;
    text-align: right;
    font-size: $font-size-small;

    @media (max-width: $break-small) {
      width: 20%;
      margin: 0px 5px 0px 0px;
    }
  }

  .title {
    color: $main-grey;
    display: block;
    margin: 5px 0px 0px 75px;
    font-size: $font-size-small;
    @media (max-width: $break-small) {
      width: 100%;
    }
  }

  .commentsIcon {
    vertical-align: middle;
    margin: 0px 3px 0px 0px;
    height: 14px;
  }


}
