/* Typography
=================================== */
h1 {
  font-weight: 100;
  font-size: $font-size-large;
  color: $main-grey;
}

/* Buttons
=================================== */


button {
  outline: none;
  padding: 6px 10px 8px 10px;
  font-weight: 400;
  @include _border-radius(4px);
}

button:hover {
  opacity: 0.9;
}

button.primary {
  color: #FFF;
  background-color: $main-blue;
  border: solid 1px $main-blue;
}

button.secondary {
  color: #FFF;
  background-color: $main-purple;
  border: solid 1px $main-purple;
}

button.success {
  color: #FFF;
  background-color: $green;
  border: solid 1px $green;
}

button.error {
  color: #FFF;
  background-color: $red;
  border: solid 1px $red;
}


/* Forms
=================================*/

form {
  width: 30%;
  padding: 10px;
  margin: 0 auto;
  background: #FFFFFF;
  border: solid 1px #CCC;
  @include _border-radius(5px);
}

legend {
  margin: 5px auto;
  padding: 0px;
  font-size: 20px;
  font-weight: bold;
}


input {
  display: block;
  width: 80%;
  padding: 10px;
  margin: 10px 0px;
  border: solid 1px $light-grey;
  font-weight: 400;
}


input.ng-invalid {
  border: 1px solid $red;
}

input.ng-valid {
  border: 1px solid $green;
}

input.ng-pristine {
  border: solid 1px $light-grey;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

*:focus {
  outline: 0;
}


/* Messages
======================================== */

.modal {
  position: absolute;
  z-index: 999;
  margin-left: -150px;
  left: 50%;
  width: 300px;
  height: 150px;
}

.alert {
  padding: 10px;

}

.alert.primary {
  background-color: lighten($main-blue, 40);
  border-left: solid 3px $main-blue;
}
.alert.secondary {background-color: lighten($main-purple, 40);}
.alert.success {background-color: lighten($green, 40);}
.alert.error {background-color: lighten($red, 40);}

.panel {
  color: #FFF;
  width: 90%;
  margin: 5px auto;
  padding: 5px 0px;
  @include _border-radius(4px);
}

.panel.primary {background-color: $main-blue;}
.panel.secondary {background-color: $main-purple;}
.panel.success {background-color: $green;}
.panel.error {background-color: $red;}










