/* Typography
=================================== */
h1 {
  font-weight: 100;
  font-size: $font-size-large;
  color: $main-grey;
}

/* UI
=================================== */

.mainBtn {
  outline: none;
  padding: 6px 10px 8px 10px;
  background-color: transparent;
  font-weight: 300;
  color: $main-blue;
  border: solid 1px $main-blue;
  @include _border-radius(4px);
}

.secondaryBtn {
  outline: none;
  padding: 6px 10px 8px 10px;
  background-color: transparent;
  font-weight: 300;
  color: $main-purple;
  border: solid 1px $main-purple;
  @include _border-radius(4px);
}

.mainBtn:hover {
  background-color: transparentize($main-blue, 0.9);
}

.secondaryBtn:hover {
  background-color: transparentize($main-purple, 0.9);
}

.defaultFeed {
  width: 480px;
  margin: 0 auto;
  padding: 20px;
  background-color: #FFF;
  border: solid 1px #CCC;

  @media (max-width: 520px) {
    width: 100%;
    padding: 0%;
  }
}

/* Forms
=================================*/

form {
  width: 30%;
  padding: 10px;
  margin: 0 auto;
  background: #FFFFFF;
  border: solid 1px #CCC;
  @include _border-radius(5px);
}

legend {
  margin: 5px auto;
  padding: 0px;
  font-size: 20px;
  font-weight: bold;
}


input {
  display: block;
  width: 80%;
  padding: 10px;
  margin: 10px 0px;
  border: solid 1px $light-grey;
  font-weight: 400;
}


input.ng-invalid {
  border: 1px solid red;
}

input.ng-valid {
  border: 1px solid green;
}

input.ng-pristine {
  border: solid 1px $light-grey;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

*:focus {
  outline: 0;
}



