/* videoCell.scss
 * Define all styles for the Video Cells
 */


/*
 * Set Local Variables
 */

//z-indexes that will order the elements in the video player
$still-index: 1;
$video-index: 0;
$location-index:2;
$loadingIndication-index: 3;



.videoCell {
  width: 480px;
  margin: 0px 0px 40px 0px;
  text-align: left;

  @media (max-width: 960px) {
    width: 100%;
  }

}

.videoCell {

  .videoPlayer {
    .still {
      z-index: $still-index;
      width: 100%;
    }
  }

  .creator {
    float: left;
    width: 300px;
    margin: 10px 0px 20px 0px;
  }

  .displayName {
    font-weight: bold;
    font-size: 16px;
  }

  .profilePicture {
    float: left;
    margin: 0px 10px 0px 0px;
  }

  .timeAgo {
    width: 180px;
    float: right;
    margin: 10px 0px 0px 0px;
    text-align: right;
  }

  .counts {
    clear: both;
  }

  .counts div {
    display: inline-block;
    margin: 0px 5px 0px 0px;
  }

  .commentsPreview {
    margin: 20px 0px 0px 0px;
    padding: 15px 0px 0px 0px;
    border-top: solid 1px $light-grey;
  }

  .commentsPreview {

    .sourceUser {
      font-weight: bold;
      color: $main-blue;
    }

    .commentBody {
      display: inline-block;
      margin: 0px 0px 20px 0px;
    }

    .addComment {
      margin: 20px 0px 0px 0px;
    }
  }

}
