<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <title>Present -- Share the Present</title>
    <meta property="description" content="An app that allows you to share live video -- anytime, anywhere" />

    <!-- Facebook Open Graph -->
    <meta property="og:title" content="An app that allows you to share live video -- anytime, anywhere"/>
    <meta property="og:site_name" content="Present">
    <meta property="og:url" content="www.present.tv" />
    <meta property="og:image" content="http://www.present.tv/assets/img/app-icon.png"/>
    <meta property="fb:app_id" content="" />
    <meta property="og:type" content="video" />

</head>
<body>
    <h1>Present -- Share the present</h1>
</body>
</html>