<!DOCTYPE html>
<html>
<head>
    <title>Present</title>
    <link href="../../css/main.css" type="text/css" rel="stylesheet" />
</head>
<body>

    <header class="fixed">
        <section>
            <a href="/views/">
                <img src="../../assets/img/logo-small.png" alt="Present" />
            </a>
            <nav>
                <ul>
                    <li><a href="#">Discover</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </nav>
        </section>
    </header>

    <div id="profile">
        <div class="user">
            <img src="../../assets/img/dan_icon.png" class="icon"/>
            <span class="name">Dan Scanlon</span>
            <span class="username">@dan</span>
            <span class="followers">Followers: <strong>243</strong></span>
            <div class="metaData">
                <div class="demands">
                    <span>5</span>
                    <label>Demands</label>
                </div>
                <div class="videos">
                    <span>126</span>
                    <label>Videos</label>
                </div>
                <div class="views">
                    <span>1504</span>
                    <label>Views</label>
                </div>
                <div class="description">
                        <p>
                            I'm Dan. Present is a thing I made with other intensely passionate people
                            who I spend more time with than you could possibly imagine - CEO, Designer,
                            and Developer for Present.
                        </p>
                </div>
            </div>

        </div>
        <div class="feed">
           <div class="present">
               <div class="videoContainer">
                   <div class="timeAgo">Present</div>
                   <img src="http://placehold.it/480/68E882/FFFFFF/" />
               </div>
               <div class="info">
                <span class="title">
                    <img src="../../assets/img/comment.png" class="icon"/>
                    <a href="#">dan</a> i'm sooo cool
                </span>
                <span class="likes">
                    <img src="../../assets/img/heart.png" class="icon" "/> 3
                </span>
                   <div class="comments">
                       <ul>
                           <li><a href="#">ddluc32</a> we are having fun</li>
                           <li><a href="#">justin</a> yo what's up?</li>
                       </ul>
                   </div>
               </div>
           </div>
            <div class="present">
                <img src="http://placehold.it/480/FF8673/FFFFFF/" />
            </div>
            <div class="present">
                <img src="http://placehold.it/480/7FCAFF/FFFFFF/" />
            </div>

        </div>
    </div>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="../../js/lib/jquery/jquery-ui.js" ></script>
<script src="../../js/core/present-ui.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
<script src="../../data/placeholderData.js"></script>
<script src="../../js/core/app.js"></script>

</body>
</html>